<header class="flex justify-between bg-green-500 py-6">
<h1 class="text-white font-semibold mx-4">Result</h1>
<a class="mx-4 bg-white border-2 rounded-xl p-2" href="/user">Quiz</a>
</header>

<section class=" mx-24 ">
    <div class="card flex justify-center border-4 rounded-full border-green-800 m-10 p-20">
       <p class="font-header text-5xl">Score : {{score}}</p>
    </div>
</section>