<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Quiz</title>

    <script>
        tailwind.config = {
          theme: {
            extend: {
            fontFamily:{
                header:"Chicle"
            },
              colors: {
                clifford: '#da373d',
              }
            }
          }
        }
      </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chicle&display=swap" rel="stylesheet">
  </head>
  <style>
    body{
   background:url(https://images.pexels.com/photos/249360/pexels-photo-249360.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
   background-repeat:no-repeat;
   background-size: cover;
   background-position: center;

    }
  </style>
  <body>
    {{{body}}}

        <script src="../Controller/user_controller.js"></script>
  </body>
</html>
